---
---

@charset 'utf-8';
//Variables
$blue: #8ce7f9;
$blue-faint: rgba(140,231,249, .8);
$gold: #d3a628;
$gold-faint: rgba(211,166,40, 0.8);
$red: #e03b45;
$red-faint: rgba(224,59,69, .8);
$orange:  #FF5500;
$orange-faint: rgba(255,85,0, .8);
$green: #239F60;
$green-faint:rgba(35,159,96,.8);


.navbar {
  background-color: $gold;
    border-bottom: none;
    max-height: 50px;

  img {
    height: 2em;
    }
}



.navbar-fixed-top {
    padding-bottom: 0;
}

body {
    padding-top: 50px;
}

button {
    background-color: $blue;
}



.container {
        overflow: hidden;
}

.hanging-item {

border-top-left-radius:0 !important;
border-top-right-radius:0 !important;
}

#jumboIndex {
    background-color: #a0a0a0;
    background-image: url(/uploads/logo_border_compressed.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    width: 100%;

}

.carousel-caption {
background-color: rgba(0,0,0,.5);
}





.nav-item {
    font-size: 1.1em;
    margin-top: .4em;
}

.container-fluid {
    max-width: 1200px !important;
    overflow: hidden;
        border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.carousel-img {
    &:hover {
        //do something and make it work similarly to old portfolio
    }
}

.background-image {
    width: inherit;
    position: absolute;
    z-index: 0;
    -webkit-filter: blur(5px);
}

.jumboContent {
     width: inherit;
    position: absolute;
    z-index: 1;
    & *{z-index: inherit;}
}

.background {
    background-color: rgba(255,255,255,.75);
    border: 0.5px solid $gold;
    border-radius: .5em;
}

.header-div {
    border: 2px solid black;
    border-top: none;
    width: 100%;
    border-radius: .5em;
    overflow: hidden;
}

.post-header {
}

.page-header {
        border-bottom: 4px solid black;
}

// From Bootstrap Creative theme

.no-gutter {
    .no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
    }
}
.portfolio-box {
  position: relative;
  display: block;
  //max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: $blue-faint;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
    }

.carousel-control {
    &:hover{
        //color: $blue;
        //background-color: $gold-faint;
    }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  color: $blue-faint;
  background-color: $blue-faint !important;
  border-color: #000 #000 transparent #000;
}

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover {
  color:rgba(0, 0, 0, .8);
    background-color: rgba(255, 255, 255, 0.2);
    //border-radius: .5em;
    font-weight: bold;
    background-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
   // background-color: transparent;
}


.about-overlay {
    font-size: 5em !important;
    color: #fff;
}

.img-circle {
  border-radius: 100%;
    overflow: hidden;
}

.profile-pic {
     border: 1px solid black;
}

.post {
}

.circle {
    border-radius: 100%;
}
.img-restrain * {
    margin-top: -8px;
    max-width: 150px;
    margin: auto;
}
.extra-margin {
    margin-bottom: 2px;
}

#sidebar {
    margin-top: -4px;
}

@media (max-width: 1200px) {
#sidebar {
    padding-right: 30px;
}
}

.about-pic {
    border: 3px solid black;
}

    .portfolio-box .about-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: $gold-faint;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.about-box {
     background: $gold-faint !important;
}

.profile-overlay {
    font-size: 3em !important;
    color: #fff;
}

.invisiframe {
    height: 0;
    width: 0;
    position: absolute;
}

#thankYou {
    display: none;
    & img {
        max-width: 500px;
        margin: auto;
    }
}


@media only screen and (max-width: 480px){
        #thankYou img {
            height:auto !important;
            max-width:500px !important;
            width: 100% !important;
        }
    }

.shop-frame {
    border: none;
    width: 100%;
    height: 92vh;
}

.bandcamp-container {
    max-width: 975px !important;
    margin:auto;
}

.game-header {
 border-bottom: 1px solid $gold-faint;
    border-bottom-left-radius: .5em;
    overflow: hidden;
}







.modal-header {
    background-color: $gold;
    border-bottom: none;
}

.header-img-restrict {
    width: 30%;
    overflow: hidden;
    display: inline-block;
    padding-bottom: -10px;
    margin-bottom: -10px;
}

.navbar-brand {
    margin-bottom: -20px;
    padding-left: 14px !important;
}

body {

}

.btn-no-style {
    padding: 0;
border: none;
background: none;
}





.header-button {
    border-bottom-right-radius: 0;
    position: fixed;
    padding-right: 1em;
    z-index: 20;
    top:50px;
    right: 0;
    background-color: #FF5500 !important;
    //background-color: $sfp_gold !important;
    border: none !important;
}

.sc-button {
    background-color: #FF5500 !important;
    //background-color: $sfp_gold !important;
}

.nav-button {
 border: none !important;
    height: 50px;
    border-radius: 0 !important;
    font-size: 1.2em;
}

//Nav spacing
#collapsedNavbar ul {
display: table;
    background-color: $gold;
list-style: none;
    border-bottom-left-radius: .5em;
    overflow: hidden;
}
#collapsedNavbar ul li {
display: table-cell;
text-align: left;
    width: 100%;
}
#collapsedNavbar ul li a {
display: block;
}

#collapsedNavbar {
          //width: 100%;
    width: 9.4em;
    //border: 2px solid red;
   // background-color: rgba(255,255,255,0)
    border: none;
}





td-third {
    width: 33%;
}

.td-third {
    width: 33%;
}

.td-half {
    width: 50%;
}





tr {
    border-top: 2px dashed rgba(0,0,0,0) !important;
}



tbody {
    border-top: none !important;
}

.table-home {
    width: 100%;
}

body {
     //background-image: url(/assets/img/logo/logo_border_noText.png);
    //background-size: cover;
    background-color: $blue-faint;
}

.sidebar-offcanvas {
    height: 100%;
}

.tag-list {
    list-style: none;
}

.label-default {
    background-color: $gold-faint;
}

#clear {
    display:none;
    & button{
         background-color: $red !important;
        border: 1px solid $blue;
        &:active{
            background-color: $green !important;
        }
    }
}

footer{
    border-top: 1px solid #606060;
}

footer {
    clear: both;
}


