<div class="col-xs-6 col-sm-1 col-lg-2 sidebar-offcanvas m-r-0" id="sidebar">

   <p class="lead"><a href="">Categories:</a></p>
<div class="list-group">

    {% for category in site.categories %}
    <button type="button" class="list-group-item btn-cat" data-toggle="filter">{{ category[0] | capitalize }}</button>
    {% endfor %}
    <button type="button" class="list-group-item" onClick="clearFilter()" data-toggle="clear-filter">Clear filters</button>
</div>

<div class="list-group">
<p class="lead"><a href="">Tags:</a></p>
    {% for tag in site.tags %}
      <button type="button" class="list-group-item btn-cat" data-toggle="filter" >{{ tag[0] | capitalize }}</button>
    {% endfor %}
</div>


<!--onClick="filter({{category[0]}})-->
<!--<span class="label label-default label-pill pull-xs-right">{{ tag[1].size }}</span>-->
