<div class="col-xs-6 col-sm-1 col-lg-2 sidebar-offcanvas m-r-0 m-b-3" id="sidebar">

{% capture tagString %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- tagString: {{ tagString }} -->
{% assign tags = tagString | split:',' | sort %}
<!-- tags: {{ tags }} -->

{% capture catString %}{% for cat in site.categories %}{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- catString: {{ catString }} -->
{% assign cats = catString | split:',' | sort %}
<!-- cats: {{ cats }} -->


<div class="list-group">
   <p class="lead">Categories:</p>
    {% for cat in cats %}
    <button type="button" class="list-group-item tag-button" data-toggle="filter">{{ cat }}</button>
    {% endfor %}
</div>

<div class="list-group">
<p class="lead">Tags:</p>
    {% for tag in tags %}
      <button type="button" class="list-group-item tag-button" data-toggle="filter" >{{ tag }}</button>
    {% endfor %}
</div>

  <div class="list-group"  id="clear" >
   <button type="button" class="list-group-item active" onClick="clearFilter()" data-toggle="clear-filter">Clear filters</button>
    </div>

<!--onClick="filter({{category[0]}})-->
<!--<span class="label label-default label-pill pull-xs-right">{{ tag[1].size }}</span>-->



