{% assign currentTitle = page.title %}
<div class="navbar navbar-full navbar-light p-a-0 m-a-0">
    <div class="m-x-0 p-x-0 navlist-full">
        <ul class="nav navbar-nav">
            {% for section in site.sections reversed %}
            <li role="presentation" class="nav-item {% if section.title == 'portfolio' %} active {% endif %}" id="{{section.title | downcase}}Link">
                <button class="nav-link btn-no-style" onClick="toggleSection('{{section.title | downcase}}')">{{ section.title | upcase }}</button>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
