<div class="row m-t-1 m-x-1">


   <div class="col-xs-3 col-sm-1 text-center icon-div"><a href="https://instagram.com/{{site.instagram_username}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
    <div class="col-xs-3 col-sm-1 text-center icon-div"><a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter" aria-hidden="true"></i></a> </div>
    <div class="col-xs-3 col-sm-1 text-center icon-div">
        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
<div class="col-xs-3 col-sm-4 col-sm-offset-1"> <a href="{{site.url}}">{{site.logo_image}}</a>

</div>

            </div>

   <nav class="navbar navbar-full navbar-light p-a-0 m-a-0">

   {% assign currentTitle = page.title %}

    <div class="pull-lg-none m-x-0 p-x-0 navlist-full">
        <ul class="nav navbar-nav hidden-sm-down">
             {% for page in pages %} {% if page.title %}
            <li role="presentation" class="nav-item {% if page.title == currentTitle %} active {% endif %}">
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | upcase }}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>

            <ul class="nav navbar-nav hidden-md-up" style="table-layout: auto;">
             {% for page in pages %} {% if page.title %}
            <li role="presentation" class="nav-item {% if page.title == currentTitle %} active {% endif %}">
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | upcase }}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>
       </div>

</nav>


