---
layout: page
---

<div class="blog-header">
      <div class="container">
        <h1 class="blog-title">{{Title}}</h1>
        <p class="lead blog-description">An example blog template built with Bootstrap.</p>
      </div>
    </div>

 <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">


          <div class="blog-post">
           <div class="row">
              <div class="col-sm-4"><a href="mailto:{{ people.author.mail }}"><img class="img img-circle img-responsive col-xs-12" src="thomas_BW.png" alt="{{ author.name }}"></a></div>

            <h2 class="blog-post-title">{{title}}</h2>
            <p class="blog-post-meta">{{date}} by <a href="mailto:{{ people.author.mail }}">{{author}}</a></p>

            <p>{{ content }}</p>
            </div>
          </div><!-- /.blog-post -->


{% for post in posts %}
{{post}}
{% endfor %}
