---
layout: page
---

<div  id="formDiv">

         {{content}}
<div class="m-x-2 p-b-1 text-center">
    <form  id="contactForm">
        <fieldset>
<!--         <input type="hidden" name="_next" value="//site.io/thanks.html" target="submitMore"/>-->
            <legend>Send us an email:</legend>
<!--            Your email address:-->
            <!--<br>-->
            <input type="email" name="_replyto" id="email" size="41" placeholder="your@email.com" required>
            <br><!--Subject:-->
            <br>
            <input type="text" name="_subject" id="subject" size="41" placeholder="Subject" required>
            <br><!--Message:-->
            <br>
            <textarea name="message" rows="10" id="comments" cols="40" placeholder="Tell us how we can help you!" required></textarea>
           <br><input type="text" name="_gotcha" style="display:none" />
           <div class="text-center">
              <input type="submit" class="btn btn-info" value="Fire it off!"> or
            <input type="button" class="btn btn-warning" onclick="resetForm('contactForm')" value="Clear form">

           </div>
        </fieldset>
    </form>
</div>



</div>

<div id="thankYou" class="text-center m-y-3">
    <h1 class="display-4">{{page.thankyou_header}}<small class="text-muted"><br>{{page.thankyou_msg}}</small></h1>
    <p class="lead">{{page.regards}}</p>
    {{site.logo_image}}
    <button class="btn" onclick="toggleView()">{{page.send_new}}</button>
</div>

<!--
<div id="#mailErrorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header-img-restrict">{{site.logo_text_image}}</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="error-div m-b-2">
                <p class="error-p p-a-1">Something went wrong and we could not process the form. Please check that all fields contain valid and correct input and try again. If the problem persists, please <a href="mailto:contac@soundsforpixels.com">get in touch through your usual mail client</a> and let us know about the issue. We apologize for the inconvenience. —SFP</p>
            </div>
            {{site.logo_image}}
        </div>
    </div>
-->
