---
layout: page
---

     {{content}}
<div class="m-x-2">
    <form action="https://formspree.io/your@email.com" method="POST">
        <fieldset>
            <legend>Send us an email:</legend>
            Your email address:
            <br>
            <input type="email" name="email" placeholder="you@example.com">
            <br>Subject:
            <br>
            <input type="text" name="subject" placeholder="What's it about?">
            <br>Message:
            <br>
            <textarea name="message" rows="10" cols="30" placeholder="Tell us all about your troubles!">
</textarea>
           <br>
            <input type="submit" class="btn btn-info" value="Fire it off, chief!">
        </fieldset>
    </form>
</div>
