---
layout: default
---

<div class="row row-offcanvas row-offcanvas-right m-x-0 p-x-0" id="home-row">

    <div class="col-xs-12 col-lg-9 p-x-0 m-x-0">

        <div class="header-container m-x-1 m-b-1">
           <div class="jumbotron hanging-item m-b-0 m-x-0 p-x-0" id="jumboIndex">
            <div class="background m-a-0 p-a-0 text-center">
                <h1 class="text-uppercase font-weight-bold">{{title}}</h1>
                <p>{{content}}</p>
            </div>

        </div>

        <!--Carousel-->
        <div id="carouselIndex" class="carousel slide p-t-0 m-x-0 p-x-0" data-ride="carousel" data-interval="4000" data-pause="hover" data-keyboard="true">

            {% assign new_games = site.games | reverse %}
            <div class="carousel-inner" role="listbox">
                {% for game in new_games limit:5 %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <button tabindex="-1" type="button" data-toggle="modal" onclick="showModal('#{{game.title_no_spaces}}Modal')" class="btn-no-style portfolio-box">
                        <img src="{{game.header_image}}" class="img img-responsive" alt="{{game.title}}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded text-uppercase font-weight-bold">
                                    {% for role in game.responsibilities %} {% unless forloop.first %} | {% endunless %} {{role}} {% endfor %}
                                </div>
                                <div class="project-name">
                                    {{game.title}}
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                {% endfor %}

            </div>
            <a tabindex="-1" class="left carousel-control" href="#carouselIndex" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a tabindex="-1" class="right carousel-control" href="#carouselIndex" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="borders">{{site.playlist}}</div>

        </div>


 <!--{% assign pages = site.pages | sort: "index_number" %}-->
            <!--Page list 2.0-->
 <div class="row m-x-1 p-x-0">
              <div class="container-fluid">
               {% for page in pages %} {% if page.position > 0 %}
                <div class="col-md-4 col-sm-6 index-info m-b-1 p-b-0">
                   <a href="{{page.url}}" class="page-box-link"><div>
                    {% if page.header_image %} {{page.header_image}} {% else %} {{site.header_image}} {% endif %}
               <!-- <h2>{{ page.title }}</h2>--><div class="page-box-text p-t-1">
                <p class="m-b-0 p-b-0 link-no-style">{% if page.description %} {{page.description | markdownify }} {% else %} {{site.lorem_ipsum}} {% endif %}{% if page.title == 'Blog' %} Latest blog post:{% for post in site.posts | limit:1 %} <strong>{{post.title}}</strong>{% endfor %}<br>{% endif %}<br>
                 </p>
                       </div> </div></a></div>
                {% cycle '', '', '<div class="clearfix hidden-sm-down"></div>' %}
                {% endif %}{% endfor %}
     </div>
</div>

    </div>
    <!--/.col-xs-12.col-sm-9-->

    <!--Twitter feed-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas m-r-0 p-r-0" id="sidebar">
        <a class="twitter-timeline" href="https://twitter.com/soundsforpixels" data-widget-id="738308741876047873" height="1000" data-chrome=" noscrollbar noheader" data-theme="dark" data-border-color="#{{site.blue}}" data-link-color="#{{site.gold}}">Tweets by @soundsforpixels</a>
        <!--removed: data-tweet-limit="{{site.twitter_feed_limit}}"-->
        <script>
            ! function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
    </div>
    <!--/.sidebar-offcanvas-->
</div>
<!--/row-->
