---
layout: default
---

                <div class="row row-offcanvas row-offcanvas-right">

                    <div class="col-xs-12 col-lg-9">
                        <p class="pull-right hidden-lg-up">
                            <button type="button" class="btn btn-xs hanging-item" data-toggle="offcanvas" style="z-index: 50;"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                        </p>


                        <div class="jumbotron hanging-item m-b-0" id="jumboIndex">
                           <div class="background text-center"><h1 class="text-uppercase font-weight-bold">{{title}}</h1>
                            <p>{{content}}</p></div>

                        </div>

                        <!--Carousel-->
                        <div id="carouselIndex" class="carousel slide p-t-0 m-b-1" data-ride="carousel" data-interval="4000" data-pause="hover" data-keyboard="true">

                           {% assign new_games = site.games | reverse %}
                            <div class="carousel-inner" role="listbox">
                               {% for game in new_games limit:5 %}
                                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                    <a href="{{game.url}}" class="portfolio-box">
                        <img src="{{game.header_image}}" class="img img-responsive" alt="{{game.title}}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded text-uppercase font-weight-bold">
                                 {% for role in game.responsibilities %}
                                   {% unless forloop.first %}
                                    |
                                    {% endunless %}
                                    {{role}}
                                    {% endfor %}
                                </div>
                                <div class="project-name">
                                    {{game.title}}
                                </div>
                            </div>
                        </div>
                    </a>
                                </div>
                               {% endfor %}

                            </div>
                            <a class="left carousel-control" href="#carouselIndex" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carouselIndex" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <!--Page listing-->
                        <div class="row">
                            <!--{% assign pages = site.pages | sort: "index_number" %}-->
                            <!--For some reason this didn't work when assigned higher up.-->
                            {% for page in pages %} {% if page.index_number > 0 %}
                            <div class="col-xs-6 col-md-4">
                                {% if page.header_image %} {{page.header_image}} {% else %} {{site.header_image}} {% endif %}
                                <h2>{{ page.title }}</h2>
                                <p>{% if page.description %} {{page.description}} {% else %} {{site.lorem_ipsum}} {% endif %}</p>
                                <p><a class="btn btn-default" href="{{page.url}}" role="button">View details »</a></p>
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                        <!--/row-->
                    </div>
                    <!--/.col-xs-12.col-sm-9-->

                    <!--Twitter feed-->
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                        <a class="twitter-timeline" href="https://twitter.com/soundsforpixels" data-widget-id="738308741876047873" height="1000" data-chrome=" noscrollbar noheader" data-theme="dark" data-border-color="#{{site.blue}}" data-link-color="#{{site.gold}}">Tweets by @soundsforpixels</a>
                        <!--removed: data-tweet-limit="{{site.twitter_feed_limit}}"-->
                        <script>
                            ! function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0],
                                    p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + "://platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, "script", "twitter-wjs");
                        </script>
                    </div>
                    <!--/.sidebar-offcanvas-->
                </div>
                <!--/row-->