---
layout: page
---

 <div class="row no-gutter p-a-0">
              <div class="container-fluid">
               {% for game in site.games reversed %}
                <div class="col-lg-4 col-sm-6 m-a-0 p-a-0">
                    <button type="button" data-toggle="modal" data-target="#{{game.title_no_spaces}}Modal" class="btn-no-style portfolio-box">
                        <img src="{{game.main_image}}" class="img img-responsive" alt="{{game.title}}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded text-uppercase font-weight-bold">
                                 {% for role in game.roles %}
                                   {% unless forloop.first %}
                                    |
                                    {% endunless %}
                                    {{role}}
                                    {% endfor %}
                                </div>
                                <div class="project-name">
                                    {{game.title}}
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                {% endfor %}
     </div>
</div>
