{% assign authorArray = site.people | where:"title", page.person %}
{% assign author = authorArray.first %}
{% if page.game %} {% assign gameArray = site.games | where:"title", page.game %}{% assign game = gameArray.first %} {% endif %}


<article class="post blog-post
   {% if page.tags.size > 0 %}{% for tag in page.tags %}{{tag | remove: ' '}} {% endfor %}{% endif %}
   {% if page.categories.size > 0 %}{% for category in page.categories %}{{category | remove: ' '}} {% endfor %}{% endif %}
     m-t-1 p-b-3" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">


        <div class="col-sm-2 col-lg-1 hidden-xs-down p-a-0 m-l-1">
            <a href="mailto:{{author.mail}}" class="portfolio-box circle">
                <img src="{{author.profile_image}}" class="img img-circle img-responsive" alt="{{author.title}}">
                <div class="portfolio-box-caption circle">
                    <div class="portfolio-box-caption-content circle">
                        <div class="project-category text-faded profile-overlay circle">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xs-12 col-sm-9 col-lg-10 m-r-1">
            <header class="post-header">
                <h2 class="post-title display-4" itemprop="name headline">{{ page.title }}{% if game %}<small class="text-muted"><br>—Music from <a tabindex="0" href="#" data-toggle="modal" onclick="showModal('#{{game.title_no_spaces}}Modal')">{{game.title}}</a></small>{% endif %}</h2>
                <p class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="mailto:{{ author.mail }}">{{author.title}}</a></span></span>{% endif %}</p>
            </header>

            <div class="post-content" itemprop="articleBody">
               {% if game %} {{page.sc_embed_url}} {% endif %}
                {{ content }}
            </div>
            <div class="tags">{% if page.tags.size > 0 %} <strong>Tags:</strong>
                <br> {% for tag in page.tags %}
                <button class="btn btn-info tag-button {{tag | remove: ' '}}" data-toggle="filter" role="button">{{tag}}</button>
                {% endfor %} {% endif %}</div>
            <div class="categories">{% if page.categories.size > 0 %} <strong>Categories: </strong>
                <br>{% for category in page.categories %}
                <button class="btn btn-warning tag-button {{category | remove: ' '}}" data-toggle="filter" role="button">{{category}}</button>
                {% endfor %}{% endif %}</div>
        </div>

    </div>
</article>
