{% assign author = site.people | where:"title", page.person %}
{% if page.game %} {% assign game = site.games | where:"title", page.game %} {% endif %}

<article class="post m-t-1 p-b-3" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">


        <div class="col-sm-3 col-lg-2 hidden-xs-down p-a-0 m-l-1">
            <a href="mailto:{{author.mail}}" class="portfolio-box circle">
                <img src="/uploads/logo_border_compressed.png" class="img img-circle img-responsive" alt="{{author.title}}">
                <div class="portfolio-box-caption circle">
                    <div class="portfolio-box-caption-content circle">
                        <div class="project-category text-faded profile-overlay circle">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xs-12 col-sm-8 col-lg-9 m-r-1">
            <header class="post-header">
                <h2 class="post-title display-4" itemprop="name headline">{{ page.title }}{% if game %}<small class="text-muted"><br>—Music from <a href="{{game.permalink}}">{{game}}</a></small>{% endif %}</h2>
                <p class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="mailto:{{ author.mail }}">{{author}}</a></span></span>{% endif %}</p>
            </header>

            <div class="post-content" itemprop="articleBody">
               {% if game %} {{page.soundcloud_embed}} {% endif %}
                {{ content }}
            </div>
            <div class="tags">{% if page.tags.size > 0 %} <strong>Tags:</strong>
                <br> {% for tag in page.tags %}
                <button class="btn btn-info" href="{{tag.url}}" role="button">{{tag}}</button>
                {% endfor %} {% endif %}</div>
            <div class="categories">{% if page.categories.size > 0 %} <strong>Categories: </strong>
                <br>{% for category in page.categories %}
                <button class="btn btn-warning" href="{{category.url}}" role="button">{{category}}</button>
                {% endfor %}{% endif %}</div>
        </div>


    </div>
</article>
